<launch>

  
	<include file="$(find perception3d)/vision.launch"></include> 
	<include file="$(find perception3d)/jaco.launch"></include> 
	<include file="$(find perception3d)/launch/ar_kinect.launch"></include>
	
	<node pkg="perception3d" type="jaco_calibration" name="jaco_calibration" respawn="true" output="screen"></node>
	
	
</launch>
